# API provider endpoint
EMBEDDING_API_URL=https://api.siliconflow.cn/v1
BASE_URL=https://api.siliconflow.cn/v1

# API key
API_KEY=sk-**********

# Model name
EMBEDDING_MODEL=BAAI/bge-m3
VISUAL_MODEL=Qwen/Qwen3.5-4B
LLM_MODEL=Qwen/Qwen2.5-7B-Instruct